<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

     <appender name="errorLog" class="org.apache.log4j.rolling.RollingFileAppender">
<!--         <param name="file" value="./log/webapp/refapp-error.log" /> -->
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
<!--             <param name="FileNamePattern" value="./log/webapp/archive/refapp-error.%d.log.gz" /> -->
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p %d{ISO8601} [%t] [%X{user}] [%X{uri}] [%X{internalTransactionId}] %c - %m%n" />
        </layout>
    </appender>  


    <appender name="infoLog" class="org.apache.log4j.rolling.RollingFileAppender">
<!--         <param name="file" value="./log/webapp/refapp-info.log" /> -->
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
<!--             <param name="FileNamePattern" value="./log/webapp/archive/refapp-info.%d.log.gz" /> -->
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p %d{ISO8601} [%t] [%X{user}] [%X{uri}] [%X{internalTransactionId}] %c - %m%n" />
        </layout>
    </appender>

    <appender name="performanceLog" class="org.apache.log4j.rolling.RollingFileAppender">
<!--         <param name="file" value="./log/webapp/refapp-performance.log" /> -->
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
<!--             <param name="FileNamePattern" value="./log/webapp/archive/refapp-performance.%d.log.gz" /> -->
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p %d{ISO8601} %m%n" />
        </layout>
    </appender>

    <logger name="com.teoware.refapp">
        <level value="WARNING" />
        <appender-ref ref="errorLog" />
    </logger>

    <logger name="com.teoware.refapp">
        <level value="DEBUG" />
        <appender-ref ref="performanceLog" />
    </logger>

    <logger name="com.teoware.refapp">
        <level value="TRACE" />
        <appender-ref ref="infoLog" />
    </logger>

  
</log4j:configuration>