.page-header {
    width: 100%;
    font-size: 36px;
    line-height: 48px;
    background-color: #000080;
    color: #fff;
}

.page-header-title {
    font-size: 36px;
    line-height: 48px;
}

.page-footer {
    width: 100%;
    background-color: #000080;
    color: #fff;
}

.table {
    border-collapse: collapse;
    border: 1px solid #000080;
}

.table-header {
    text-align: center;
    padding: 5px 15px;
    background: none repeat scroll 0 0 #000080;
    color: #fff;
}

.table-odd-row {
    background: none repeat scroll 0 0 #fff;
}

.table-even-row {
    background: none repeat scroll 0 0 #eee;
}