/refapp-testtools
/refapp-batch
/refapp-common
/refapp-domain
/refapp-ear
/refapp-infrastructure-dao
/refapp-interfaces-consumer
/refapp-interfaces-rest
/refapp-interfaces-webui
/refapp-schedule
/refapp-services-facade
/refapp-services-logic
